<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright 2014-2023 JKOOL, LLC.
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~ http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<Configuration strict="true" shutdownHook="disable"
               xmlns="http://logging.apache.org/log4j/2.0/config"
               xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
               xsi:schemaLocation="http://logging.apache.org/log4j/2.0/config
                                   https://raw.githubusercontent.com/apache/logging-log4j2/main/log4j-core/src/main/resources/Log4j-config.xsd">
    <Properties>
        <Property name="tnt4j.streams.log.filename">${sys:tnt4j.streams.log.filename:-logs/tnt4j-streams.log}</Property>
        <Property name="tnt4j.activities.log.filename">${sys:tnt4j.activities.log.filename:-logs/tnt4j-streams-activities.log}</Property>
    </Properties>
    <Appenders>
        <!-- ### direct log messages to file rolling on startup and size based ### -->
        <RollingFile name="tnt4j_file"
                     fileName="${tnt4j.streams.log.filename}"
                     filePattern="${tnt4j.streams.log.filename}.%d{yyyyMMdd}.%i.gz"
                     ignoreExceptions="false">
            <PatternLayout>
                <Pattern>%d{ISO8601} %-5p [%t!%c{1}] - %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <OnStartupTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="30" fileIndex="min">
                <Delete basePath="${baseDir}" maxDepth="1">
                    <IfFileName glob="${tnt4j.streams.log.filename}.*.gz"/>
                    <IfLastModified age="30d"/>
                    <!--IfAccumulatedFileCount exceeds="30"/-->
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>
        <!--  ### branch for sink written activity entities logger ### -->
        <RollingFile name="activities_log"
                     fileName="${tnt4j.activities.log.filename}"
                     filePattern="${tnt4j.activities.log.filename}.%d{yyyyMMdd}.%i.gz"
                     ignoreExceptions="false" createOnDemand="true">
            <PatternLayout>
                <Pattern>%m%n</Pattern>
            </PatternLayout>
            <Policies>
                <OnStartupTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="30" fileIndex="min">
                <Delete basePath="${baseDir}" maxDepth="1">
                    <IfFileName glob="${tnt4j.activities.log.filename}.*.gz"/>
                    <IfLastModified age="30d"/>
                    <!--IfAccumulatedFileCount exceeds="30"/-->
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>
    </Appenders>
    <Loggers>
        <!-- ### jKool LLC TNT4J Streams log level and appenders used -->
        <AsyncLogger name="com.jkoolcloud.tnt4j.streams" level="INFO">
            <AppenderRef ref="tnt4j_file"/>
        </AsyncLogger>
        <!-- ### tnt4j API logger -->
        <!--AsyncLogger name="com.jkoolcloud.tnt4j" level="DEBUG">
            <AppenderRef ref="tnt4j_file"/>
        </AsyncLogger-->
        <!-- ### jesl API logger -->
        <!--AsyncLogger name="com.jkoolcloud.jesl" level="DEBUG">
            <AppenderRef ref="tnt4j_file"/>
        </AsyncLogger-->
        <!-- #### streamed activity entities logger #### -->
        <AsyncLogger name="com.jkoolcloud.tnt4j.streams.activities_log" level="INFO" additivity="false">
            <AppenderRef ref="activities_log"/>
        </AsyncLogger>
    </Loggers>
</Configuration>
